<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	version="4.0">
	<display-name>omsapp</display-name>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/views/_layout/taglibs.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
</web-app>
